# R session / history
.Rhistory
.RData

# RStudio project files
.Rproj.user/

# Renv / Packrat 
renv/library/
renv/staging/
packrat/

# Fichiers d’environnement 
.Renviron
.Renviron.local
.Rprofile

# Fichiers 
.DS_Store
Thumbs.db

# Caches & logs
*.log
*.cache/

# IDEs
.vscode/
.idea/

# Python virtualenv
venv/
env/


*.Rproj